@import url();
.container {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.sidebar {
  width: 30%;
}
.main-content {
  width: 60%;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-button button,
.form-field input{
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 0.3rem;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li button {
  margin: 0.5rem;
}